version: '3.8'
services:
  db:
    image: postgres:15-alpine
    ports:
      - "54322:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: budget_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
